# Google Cloud Platform
GCP_PROJECT_ID=your-project-id
GCP_BQ_DATASET=lego_staging
GCP_GCS_BUCKET=lego-investment-lake
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/lego-investments-cb1c980fec6a.json

# Rebrickable API
REBRICK_API_KEY=your-api-key
REBRICKABLE_BASE_URL=https://rebrickable.com/api/v3/lego

# Bricklink Scraping
BRICKLINK_BASE_URL=https://www.bricklink.com/v2/catalog

# Airflow Settings
AIRFLOW__WEBSERVER__SECRET_KEY=lego_star_wars_secret_key_123
